<nav class="navbar navbar-expand-md bg-transparent">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0 bg-secondary">
				<li class="nav-item">
					<a class="nav-link text-primary" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary" href="/#qui-suis-je">Qui je suis</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Projects
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item text-primary" href="#">Symfony</a>
						</li>
						<li>
							<a class="dropdown-item text-primary" href="#">React</a>
						</li>
						<li><hr class="dropdown-divider text-primary"></li>
						<li>
							<a class="dropdown-item text-primary" href="#">Html/CSS</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary">Contact</a>
				</li>
			</ul>

		</div>
	</div>
</nav>
